{% extends 'base.html.twig' %}

{% block content %}
    <h1>Your account was desactivated !</h1>
    <h1> please contact our support team </h1>
<p>Contact us at: <a href="mailto:Traskel@Traskel.com">Traskel@Traskel.com</a></p>
{% endblock %}

{% block title %}

{% endblock %}
