{% extends 'base.html.twig' %}

{% block content %}
    <h1>your account was desactivted !</h1>
    <h1> please contact our support team </h1>
    <h> shaima.bennourdine@esprit.tn</h>
{% endblock %}

{% block title %}

{% endblock %}
