<form method="post" action="{{ path('app_categorie_prod_delete', {'id': categorie_prod.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie_prod.id) }}">
    <button class="btn btn-success mb-0.9 style="margin-right: 4px;">supprimer</button>
</form>
